# Ignorar node_modules
node_modules/

# Incluir las carpetas assets, controllers, database, models, public, views
!assets/
!controllers/
!database/
!models/
!public/
!views/
!package.json/
!package-lock.json/

# Incluir el archivo main.js
!main.js

