<!DOCTYPE html>
<html>
<head>
<style>
    /* Estilos para ocultar el input de archivo */
    #fileInput {
      display: none;
    }

    .border-dotted i {
      font-size: 2rem;
      color: #28a745;
      cursor: pointer;
    }

    .border-dotted {
      border: 2px dotted #28a745;
      padding: 1%;
      text-align: center;
      width: 100%;
      margin: auto;
      position: relative;
    }

    #imagePreview {
      width: 100px;
      height: 100px;
      object-fit: cover;
      display: none;
    }
</style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="form-group">
            <label for="fileInput" class="border-dotted">
                <i class="fa fa-file-image-o fa-3x text-success" id="fileIcon"></i>
                <img id="imagePreview">
            </label>
            <input type="file" id="fileInput">
        </div>
    </div>
</div>

<script>
// Función para manejar el evento de cambio en el input de archivo
document.getElementById('fileInput').addEventListener('change', function(event) {
    const fileInput = event.target;
    const imagePreview = document.getElementById('imagePreview');
    const fileIcon = document.getElementById('fileIcon');
    const borderDotted = document.querySelector('.border-dotted');

    if (fileInput.files.length > 0) {
        // Se seleccionó un archivo
        const selectedFile = fileInput.files[0];
        const objectURL = URL.createObjectURL(selectedFile);

        // Mostrar la imagen dinámicamente
        imagePreview.src = objectURL;
        imagePreview.style.display = 'block';

        // Ocultar el ícono
        fileIcon.style.display = 'none';

        // Ocultar el borde punteado
        borderDotted.style.border = 'none';
    }
});

// Manejar el clic en el ícono para abrir el cuadro de diálogo del archivo
document.getElementById('fileIcon').addEventListener('click', function() {
    const fileInput = document.getElementById('fileInput');
    fileInput.click();
});
</script>
</body>
</html>
