<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuarios</title>
    <!-- CDN BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Enlace Css -->
    <link rel="stylesheet" href="../assets/css/UserList.css">
</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="AdminPanel.html" class="brand"><i class='bx bxs-smile icon'></i>Clover</a>
        <ul class="side-menu">
            <li><a href="AdminPanel.html" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li class="divider" data-text="Principal">Principal</li>
            <li>
                <a href="#">
                    <i class='bx bxs-user icon'></i> Usuarios
                    <i class='bx bx-chevron-right icon-right'></i>
                </a>

                <ul class="side-dropdown">
                    <li><a href="listUsers.html">Lista De Usuarios</a></li>
                    <li><a href="addUser.html">Agregar Usuario</a></li>
                    <li><a href="editUsers.html">Editar Usuarios</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-chart icon'></i> Charts</a></li>
            <li><a href="#"><i class='bx bxs-widget icon'></i> Widgets</a></li>
            <li class="divider" data-text="table and forms">Table and forms</li>
            <li><a href="#"><i class='bx bx-table icon'></i> Tables</a></li>
            <li>
                <a href="#"><i class='bx bxs-notepad icon'></i> Forms <i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="#">Basic</a></li>
                    <li><a href="#">Select</a></li>
                    <li><a href="#">Checkbox</a></li>
                    <li><a href="#">Radio</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Buscar...">
                    <i class='bx bx-search icon'></i>
                </div>
            </form>
            <a href="#" class="nav-link">
                <i class='bx bxs-bell icon'></i>
                <span class="badge">5</span>
            </a>
            <a href="#" class="nav-link">
                <i class='bx bxs-message-square-dots icon'></i>
                <span class="badge">8</span>
            </a>
            <span class="divider"></span>
            <div class="profile">
                <img src="../assets/imgUsers/imagenPerfil.jpg" alt="">
                <ul class="profile-link">
                    <li><a href="prolife.html"><i class='bx bxs-user-circle icon'></i> Perfil</a></li>
                    <li><a href="#"><i class='bx bxs-cog'></i>Configuracion</a></li>
                    <li><a href="login.html"><i class='bx bxs-log-out-circle'></i>Salir</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <h1 class="title">Lista de usuarios</h1>
            <ul class="breadcrumbs">
                <li><a href="AdminPanel.html">Dashboard</a></li>
                <li class="divider">/</li>
                <li><a href="#" class="active">usuarios</a></li>
                <li class="divider">/</li>
                <li><a href="#" class="active">lista de usuarios</a></li>
            </ul>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Lista de usuarios</h3>
                        <div class="form-input">
                            <span class="icon bx bx-search"></span>
                            <input type="text" id="searchInput" placeholder="Buscar...">
                        </div>
                    </div>

                    <table id="miTabla">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Imagen</th>
                                <th>Usuario</th>
                                <th>Rol</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se cargarán los datos de los usuarios -->
                           
                        </tbody>
                    </table>



                    <div id="pagination">
                        <button id="prevPage" class="btn-previus">Anterior</button>
                        <button id="nextPage" class="btn-next">Siguiente</button>
                      
                    </div>
                </div>

            </div>
        </main>
        <!-- MAIN -->
    </section>
    <script src="../assets/js/UserTable.js"></script>
    <script src="../controllers/showUserController.js"></script>
    <script src="../models/showUsersModel.js"></script>
</body>

</html>