<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de pedidos</title>
    <!-- CDN BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Enlace Css -->
    <link rel="stylesheet" href="../assets/css/UserList.css">

</head>


<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand"><img src="../assets/img/Clover.png" class="logo_img">Clover</a>
        <ul class="side-menu">
            <li><a href="panelEmployee.html" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
            <li class="divider" data-text="Panel de navegacion"></li>

            <li>
                <a href="#">
                    <i class='bx bx-dish icon'></i>Pedidos
                    <i class='bx bx-chevron-right icon-right'></i>
                </a>
                <ul class="side-dropdown">
                    <li><a href="#"></i>Lista de pedidos</a></li>
                </ul>
            </li>

            <!-- <li>
				<a href="#">
					<i class='bx bx-receipt icon'></i>Facturar
					<i class='bx bx-chevron-right icon-right'></i>
				</a>
				<ul class="side-dropdown">
					<li><a href="#">Facturar cliente</a></li>
				</ul>
			</li> -->
        </ul>

    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu toggle-sidebar'></i>
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Buscar...">

                </div>
            </form>

            <span class="divider"></span>
            <div class="profile">
                <img src="" alt="" id="imagenEnOtraPagina">
                <ul class="profile-link">
                    <li><a href="#" id="btnSalirEmpleado"><i class='bx bxs-log-out-circle'></i>Salir</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <h1 class="title">Lista de pedidos</h1>
            <ul class="breadcrumbs">
                <li><a href="panelEmployee.html">Dashboard</a></li>
                <li class="divider">/</li>
                <li><a href="#" class="active">pedidos</a></li>
                <li class="divider">/</li>
                <li><a href="#" class="active">lista de pedidos</a></li>
            </ul>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Lista de pedidos</h3>
                        <div class="form-input">
                            <span class="icon bx bx-search"></span>
                            <input type="text" id="searchInput" placeholder="Buscar...">
                        </div>
                    </div>

                    <table id="TablaMesas">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Numero Mesa</th>
                                <th>Cliente</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se cargarán los datos de los pedidos-->

                        </tbody>
                    </table>

                </div>
            </div>

        </main>
        <!-- MAIN -->
    </section>
    <script src="../assets/js/sidebar.js"></script>
    <script src="../models/orderListModel.js"></script>
    <script src="../controllers/orderListController.js"></script>
    <script>
      

        const { ipcRenderer } = require('electron');
      

        document.addEventListener('DOMContentLoaded', () => {
            const btnSalirEmpleado = document.getElementById('btnSalirEmpleado');

            btnSalirEmpleado.addEventListener('click', async () => {
                // Mostrar SweetAlert de confirmación
                const confirmacion = await mostrarConfirmacion();

                // Si el usuario confirma, enviamos el mensaje para cerrar la ventana
                if (confirmacion.value) {
                    ipcRenderer.send('btnSalirEmpleadoClick');
                }
            });

            // Función para mostrar el SweetAlert de confirmación
            function mostrarConfirmacion() {
                return Swal.fire({
                    title: '¿Estás seguro de salir?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#049935',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, salir',
                    cancelButtonText: 'Cancelar',
                });
            }
        });

        var table = document.getElementById("TablaMesas");
        var tbody = table.getElementsByTagName("tbody")[0];
        var rows = tbody.getElementsByTagName("tr");

        var searchInput = document.getElementById("searchInput");

        function filterTable() {
            var searchTerm = searchInput.value.toLowerCase();
            for (var i = 0; i < rows.length; i++) {
                var rowText = rows[i].textContent.toLowerCase();
                rows[i].style.display = rowText.includes(searchTerm) ? "" : "none";
            }
        }

        searchInput.addEventListener("input", function () {
            filterTable();
        });
    </script>



</body>

</html>